/* BASIC ELEMENTS
======================================================================
*/

body {
    background-color: #222831;
}

p {
    line-height: 1.5em;
    color: gray;
    margin-bottom: .8em;
}

div, section, article {
    box-sizing: border-box;
}

.singlepage section {
    margin-bottom: 125px;
}

section.single-header {
    margin-bottom: 0px;
}

button {
    background-color: transparent;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

button:hover {
    background-color: white;
    color: #222831;
    transition: none;
}

button > a:link, button > a:visited, button > a:active {
    color: white;
}

button:hover a {
    color: #222831;
}

button.alt {
    border: 2px solid #EEE;
    padding: 5px;
    color: #EEE;
    font-size: .8em;
}

button.alt:hover {
    background-color: #EEE;
}

button.alt > a:link, button.alt > a:visited, button.alt > a:active {
    color: #EEE;
}

button.alt:hover a {
    color: #222831;
}

p,button {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0px;
}

h1,h2,h3,h4,h5,h6,p {
    font-weight: normal;
    color: #EEEEEE;
}

img {
    width: 100%;
}

footer {
    width: 100%;
    height: auto;
    font-size: .8em;
}

.footer-item {
    width: 100%;
    text-align: center;
}

.footer-item i {
    vertical-align: middle;
}

img.amcd {
    width: 60px;
    height: 27px;
}

.lift {
    padding-bottom: 10px;
}

.fa {
    font-size: 1.6em;
}

a:link {
    color: #00ADB5;
    text-decoration: none;
}

a:visited {
    color: #00ADB5;
}

a:hover {
    color: #00E0EB;
}

a:active {
    color: #00E0EB;
}


/* BASIC LAYOUTS + STYLES
======================================================================
*/

.main {
    float: left;
    width: calc(100% - 60px);
}

.wrapper {
    width: 92%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

.content {
    padding: 15px;
}

.content-narrow {
    padding: 0 15px;
}

.icon-spacer:after {
    font-family: FontAwesome;
    content: "\f101";
    font-size: .8em;
    vertical-align: middle;
}

h1.icon-spacer:after {
    padding: 0 15px;
}

.icon-plus:after {
    font-family: FontAwesome;
    content: "\f067";
    font-size: 14px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    transition: all 300ms ease-in-out;
}

.icon-plus.active:after {
    transition: all 300ms ease-in-out;
    transform: rotate(45deg);
}

.emphasis {
    font-size: 1.6em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 60px 0 30px 0;
    margin-bottom: 0px;
}

/* NAVIGATION */

nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    width: 60px;
    height: 100vh;
    padding: 25px 0 20px 0;
    line-height: 1.4em;
    color: white;
    background-color: #393E46;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.navi {
    width: 100%;
    text-align: right;
}

.navi > ul {
    list-style-type: none;
    padding: 0 19px;
    margin-top: 38px;
}

.navi > ul > li {
    display: block;
    padding: 25px 0;
    margin-left: 42px;
    border-bottom: 1px solid #222831;
}

.hamburger {
    position: absolute;
    top: 25px;
    right: 19px;
    padding-top: 10px;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    cursor: pointer;
}

.goUp {
    position: absolute;
    bottom: 25px;
    right: 19px;
    padding-bottom: 10px;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    cursor: pointer;
    display: none;
}

.social {
    position: absolute;
    bottom: 10px;
    right: 19px;
    width: 22px;
    margin: 0 auto;
    cursor: pointer;
}

.social > i {
    padding-bottom: 15px;

}

/* for hamburger animation: https://gist.github.com/elijahmanor/9331915#file-jquery-js */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    border-radius: 1px;
    height: 3px;
    width: 22px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -7px;
}
#nav-toggle span:after {
    bottom: -7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
    width: 0px;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    float: left;
    width: 100%;
    font-size: 2.3em;
    padding-top: 25px;
    text-align: center;
}

.title > a:link, .title > a:hover, .title > a:visited, .title > a:active {
    color: white;
}

/* HOMEPAGE SECTIONS
======================================================================
*/

.highlight {
    position: relative;
    background-image: linear-gradient(rgba(0, 173, 181, 0.40), rgba(0, 173, 181, 0.40)), url(../assets/images/candlelit.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.highlight, .insta-container, .youtube-container, .singlepage .music {
    margin: 0 0 125px 0;
}

.music, .signup, .news {
    margin: 125px 0;
}

.HL-content {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    width: 92%;
    margin: 0 auto;
    text-align: center;
}

.HL-title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3.2em;
    color: white;
    font-weight: bold;
    margin: 30px 0;
}

.insta-container {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.insta-pic {
    width: 50%;
    float: left;
    padding: 0 6px 12px 0;
}

.insta-pic:nth-child(even) {
    padding: 0 0 12px 6px;
}

.insta-pic:last-child,
.insta-pic:nth-last-child(2) {
    padding-bottom: 0px;
}

.signup {
    width: 100%;
    background-color: #393E46;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.news {
    width: 100%;
}

.news-item {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.5);
}

.news-item:last-child {
    margin-bottom: 0px;
}

.news-item > h3 {
    margin-bottom: 0;
}

.date {
    font-size: .7em;
    margin: .6em 0;
}

iframe.youtube {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* SINGLE PAGE BASIC STYLES
======================================================================
*/

.single-header {
    background-image: linear-gradient(rgba(0, 173, 181, 0.40), rgba(0, 173, 181, 0.40)), url(../assets/images/candlelit.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
}

.single-header .title {
    width: 100%;
    padding: 25px 0 5px 0;
}

.single-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #FFF;
    margin: 0;
    padding: 0px 0 20px 0;
}

.title.icon-spacer:after {
    display: none;
    padding: 0 20px 12px 20px;
}

.list-container {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.list-container > ul {
    list-style: none;
    padding: 0;
}

.list-container > ul:last-child {
    margin-bottom: 0;
}

.list-title {
    position: relative;
    background-color: #393E46;
    border-bottom: 1px solid #222831;
    cursor: pointer;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.list-title:hover {
    background-color: rgba(255,255,255,0.17);
}

.list-content {
    display: none;
}

.list-item > p {
    font-size: .95em;
    margin: 0;
}

.list-item > h3 {
    margin: 0;
}

.list-item-small > p {
    font-size: .8em;
}

/* INDIVIDUAL ALBUMS AND NEWS SECTION
======================================================================
*/

.album-container {
    padding-bottom: 60px;
}

.bandcamp-container {
    width: 250px;
    margin: 40px auto;
}

.bandcamp {
    width: 250px;
    height: 250px;
}

.item-prev-next {
    width: 194px;
    margin: 0 auto;
    text-align: center;
}

.item-next, .item-prev {
    width: 82px;
    display: inline-block;
}

.item-prev {
    float: left;
}

.item-next {
    float: right;
}

.item-prev-next.desktop {
    display: none;
}

/* CAROUSEL SLIDES + GRID STYLE LISTS (home, music, news)
======================================================================
*/

.album {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 5px 5px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,68,71,0.8);
}

.album .overlay {
    width: calc(100% - 5px);
}

.overlay > p {
    float: left;
    display: inline;
    margin-bottom: 0px;
    text-align: center;
}

.overlay > .icon-spacer:after {
    padding: 0 10px;
}

.overlay > button {
    display: none;
}


/* MEDIA QUERIES
======================================================================
*/

/* break for album details hover overlay */
@media (min-width: 1000px) {
    .cslide-slide,
    .album {
        overflow: hidden;
    }

    .cslide-slide img,
    .album img {
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

    .overlay {
        height: 100%;
        text-align: center;
        padding: 25% 15% 15% 15%;
        background-color: rgba(0,68,71,0.8);
        opacity: 0;
        z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

    .album .overlay {
        height: calc(100% - 5px);
    }

    .cslide-slide:hover .overlay,
    .album:hover .overlay {
        opacity: 1;
    }

    .overlay > p {
        width: 100%;
        display: inline;
        margin-bottom: .8em;
    }

    .overlay > .icon-spacer:after {
        display: none;
    }

    .overlay > button {
        display: inline;
    }

    .overlay > p:first-child {
        font-size: 1.5em;
    }
}

/* Main break: navigation change, 2 column highlight section, etc. */
@media (min-width: 850px) {
    .HL-title {
        font-size: 6em;
    }

    .insta-container, .youtube-container {
        float: left;
        width: calc(50% - 15px);
        margin-right: 15px;
    }

    .album {
        width: 33.33%;
    }

    .news-item {
        width: calc(33.33% - 6.66px);
        float: left;
        margin: 0 10px 0 0;
    }

    .news-item:last-child {
        margin-right: 0px;
    }

    .album-container {
        padding-bottom: 0px;
    }

    .bandcamp-container {
        float: left;
        margin: 60px 0 0 0;
    }

    .list-container {
        float: right;
        width: calc(96% - 350px);
        margin: 60px 0 0 0;
    }

    .list-container > ul:first-child {
        margin-top: 0;
    }

    .item-prev-next.desktop {
        display: block;
        float: left;
        width: 272px;
        padding: 60px 0 0 78px;
    }

    .item-prev-next.mobile {
        display: none;
    }
}

@media (min-width: 650px) {
    .emphasis {
        font-size: 2em;
        padding: 80px 0 40px 0;
    }
}

@media (min-width: 550px) and (max-width: 849px) {
    .HL-title {
        font-size: 4.5em;
    }

    .youtube {
        height: 300px;
    }

    .album {
        width: 50%;
    }

    .album:last-child {
        display: none;
    }
}

@media (min-width: 526px) and (max-width: 849px) {
    .bandcamp-container {
        margin: 40px auto;
    }
}

@media (min-width: 526px) {
    .title {
        text-align: left;
    }

    .single-header .title {
        width: auto;
        padding: 25px 0 13px 0;
    }

    .single-title {
        padding-top: 25px;
        float: left;
        width: auto;
    }

    .title.icon-spacer:after {
        display: inline-block;
    }

    .bandcamp-container {
        width: 350px;
    }

    .bandcamp {
        width: 350px;
        height: 350px;
    }
}
