/* BASIC ELEMENTS */

body {
    margin-top: 62px;
}

p {
    line-height: 1.4em;
    color: gray;
}

div, section {
    box-sizing: border-box;
}

section {
    margin-bottom: 125px;
}

button {
    background-color: transparent;
    transition: background-color 0.2s ease;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    transition: none;
}

img {
    width: 100%;
}

.fa {
    font-size: 1.6em;
}

a:link {
    color: #11808d;
}

a:hover {
    color: #19b9cc;
}

/* BASIC LAYOUTS */

.wrapper {
    width: 92%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

/* NAVIGATION */

nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
    line-height: 1.4em;
    background-color: white;
    box-shadow: 0 5px 5px -5px #d9dbde;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
}

.title {
    float: left;
    width: 50%;
    font-size: 2em;
    font-weight: bold;
}

.navi {
    float: left;
    width: 50%;
    text-align: right;
}

.navi > ul {
    display: none;
}

/* HOMEPAGE SECTIONS */

.highlight {
    position: relative;
    background-image: url(../assets/images/candlelit.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: calc(100vh - 62px);
    margin-top: 62px;
}

.HL-content {
    position: absolute;
    bottom: 35%;
    left: 0;
    right: 0;
    width: 92%;
    margin: 0 auto;
    text-align: center;
}

.HL-title {
    font-size: 3.2em;
    color: white;
    font-weight: bold;
    margin: 30px 0;
}

.insta-pic {
    width: 50%;
    float: left;
    padding: 0 1.5px 3px 0;
}

.insta-pic:nth-child(even) {
    padding: 0 0px 3px 1.5px;
}

.news-item {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-top: 10px solid rgba(0,0,0,.8);
    padding: 0 10px 10px 10px;
}

.news-item:last-child {
    margin-bottom: 0px;
}

.news-item > h4 {
    margin-bottom: 0;
}

.date {
    font-size: .7em;
    margin: .6em 0;
}

/* SLIDES */

#cslide-slides {
    position: relative;
}
.cslide-slides-master {
    overflow: hidden;
    margin-bottom:60px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.cslide-slides-master:last-child {
    margin-bottom:0;
}
.cslide-slides-container {
    visibility: hidden;
}
.cslide-slide {
    float:left;
}

/* prev next buttons */
.cslide-prev-next {
    z-index: 100;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none; /* displayed with js */
}

.cslide-prev,.cslide-next {
    box-sizing: border-box;
    position: absolute;
    background: black;
    color: #fff;
    width: 35px;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    opacity: .8;
    text-align: center;
}

.fa-angle-left,.fa-angle-right {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
}

.cslide-prev:hover,
.cslide-next:hover {
    background: black;
    opacity: .6;
}
.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
    background: black;
    opacity: .7;
}

.cslide-prev {
    left: 0;
}

.cslide-next {
    right: 0;
}

.cslide-disabled {
/*    opacity: 0.3;*/
}

/* MEDIA QUERIES */

/* Main break: navigation change, 2 column highlight section, etc. */
@media (min-width: 850px) {
    .navi > ul {
        display: inline;
    }

    .navi .fa {
        display: none;
    }

    nav ul {
        list-style-type: none;
        display: inline;
    }

    nav li {
        display: inline-block;
    }

    .title {
        float: left;
        width: 50%;
        font-size: 2em;
        font-weight: bold;
    }

    .navi {
        float: left;
        width: 50%;
        text-align: right;
    }

    .HL-title {
        font-size: 6em;
    }

    iframe.youtube {
        height: 500px;
    }
}

@media (min-width: 700px) {

}

@media (min-width: 650px) {
    .insta {
        float: left;
        width: 50%;
        padding-right: 15px;
    }

    .news {
        float: left;
        width: 50%;
        padding-left: 15px;
    }
}

@media (min-width: 550px) and (max-width: 849px) {
    .HL-title {
        font-size: 4.5em;
    }

    iframe.youtube {
        height: 400px;
    }
}

@media (min-width: 455px) {
    .group > h1 {
        margin-bottom: 0;
    }
}
